$max-width: 1200px;
$primary-color: #eebc71;
$light-color: #eeeeeef1;
$medlight-color: #ccccccf1;
$dark-color: #444;
$redcanary-color: #f80000;

// background image
$bg-1-image: url("../img/bg-deneme1.jpg");

$bg-2-image: url("../img/bg-deneme2.jpg");
